.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  transition: 1s;
}
.scale {
  transform: scale(0);
}

.block {
  width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid black;
}
#form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.inputForm {
  height: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
}
